<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:flex="http://www.springframework.org/schema/flex"
	   xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/flex 
           http://www.springframework.org/schema/flex/spring-flex-1.0.xsd 		             
		   http://www.springframework.org/schema/aop 
		   http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<flex:message-broker/>

	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
	     <property name="jndiName" value="java:comp/env/jdbc/MySQLDB"/>
	</bean>

	<bean id="userDAO" class="com.suntek.dao.UserDAOImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean> 	

	<bean id="worksheetDAO" class="com.suntek.dao.WorksheetDAOImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="employeeDAO" class="com.suntek.dao.EmployeeDAOImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean> 	
	 	
	<bean id="commonDAO" class="com.suntek.dao.CommonDAOImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean> 		 	

	<bean id="permDAO" class="com.suntek.dao.PermissionDAOImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean> 		 	

	<bean id="contDAO" class="com.suntek.dao.ContributionDAOImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean> 		 	

	<bean id="dctDAO" class="com.suntek.dao.DataComplianceTaskDAOImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean> 		 	

	<bean id="urDAO" class="com.suntek.dao.URPersonnelTaskDAOImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean> 		 	

	<bean id="btDAO" class="com.suntek.dao.BillingTaskDAOImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean> 		 	

	<bean id="plDAO" class="com.suntek.dao.ProjectListDAOImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean> 		 	
	 	
	<bean id="dataService" class="com.suntek.service.DataService">
		<flex:remoting-destination />
		<property name="userDAO" ref="userDAO"/>
		<property name="worksheetDAO" ref="worksheetDAO"/>
		<property name="employeeDAO" ref="employeeDAO"/>
		<property name="commonDAO" ref="commonDAO"/>
		<property name="permDAO" ref="permDAO"/>
		<property name="contDAO" ref="contDAO"/>
		<property name="dctDAO" ref="dctDAO"/>
		<property name="urDAO" ref="urDAO"/>
		<property name="btDAO" ref="btDAO"/>
		<property name="plDAO" ref="plDAO"/>
	</bean>	

</beans> 
